{% sw_extends '@Storefront/storefront/page/product-detail/headline.html.twig' %}

{% block page_product_detail_headline_inner %}

    {% if zentheme['zen-product-details-rating-position'] is same as ('headline') %}
        {% set remoteClickOptions = {
            selector: "#review-tab",
            scrollToElement: true
        } %}

        {% block page_product_detail_reviews %}
            {% if page.product.ratingAverage > 0 and shopware.config.detail.showReviews %}
                <div class="col-12 product-detail-reviews-container">
                    <span class="product-detail-reviews">
                        {% sw_include '@Storefront/storefront/component/review/rating.html.twig' with {
                            points: page.product.ratingAverage,
                            style: 'text-primary'
                        } %}
                        <a data-toggle="tab"
                           class="product-detail-reviews-link"
                           data-offcanvas-tabs="true"
                           data-remote-click="true"
                           data-remote-click-options='{{ remoteClickOptions|json_encode }}'
                           href="#review-tab-pane"
                           aria-controls="review-tab-pane">
                            {{ page.reviews.totalReviews}}
                            {{ "detail.reviewLinkText"|trans({'%count%': page.reviews.totalReviews})|sw_sanitize }}
                        </a>
                    </span>
                </div>
            {% endif %}
        {% endblock %}
    {% endif %}

    {% block page_product_detail_name_container %}
        <div class="col product-detail-name-container">
            {% block page_product_detail_name %}
                <h1 class="product-detail-name"
                    itemprop="name">
                    {{ page.product.translated.name }}
                </h1>
                <span class="product-detail-variant-characteristics">
                    {% for variation in page.product.variation %}
                        {{ variation.group }}: {{ variation.option }}

                        {% if page.product.variation|last != variation %}
                            {{ " | " }}
                        {% endif %}
                    {% endfor %}
                </span>
            {% endblock %}
        </div>
    {% endblock %}

    {% block page_product_detail_manufacturer %}
        {% if page.product.manufacturer %}
            <div class="col-md-auto product-detail-manufacturer">
                {% block page_product_detail_manufacturer_inner %}
                    {% block page_product_detail_manufacturer_link %}
                        {% if page.product.manufacturer.link %}
                        <a href="{{ page.product.manufacturer.link }}"
                           class="product-detail-manufacturer-link"
                           rel="noreferrer noopener"
                           target="_blank"
                           title="{{ page.product.manufacturer.translated.name }}">
                        {% endif %}
                            {% if page.product.manufacturer.media %}
                                {% block page_product_detail_manufacturer_logo %}
                                    <img src="{{ page.product.manufacturer.media|sw_encode_media_url }}"
                                         class="product-detail-manufacturer-logo"
                                         alt="{{ page.product.manufacturer.translated.name }}"/>
                                {% endblock %}
                            {% else %}
                                {% block page_product_detail_manufacturer_text %}
                                    {{ page.product.manufacturer.translated.name }}
                                {% endblock %}
                            {% endif %}
                        {% if page.product.manufacturer.link %}
                        </a>
                        {% endif %}
                    {% endblock %}
                {% endblock %}
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}
